<h1>Welcome to my website!</h1>
        <p>I will be demonstrating HTML5 principles and techniques.</p>

 

    
        <h2>Overview</h2>

        <p>This site consists of three static views and five dynamic routes:</p>
        <ul>

            <li><a href="/">Home</a> - An overview of the site and HTML5 introduction.</li>
            <li><a href="/about">About</a> - A page with details about the creator.</li>
            <li><a href="/htmlDemo">HTML Demo</a> - A demo page.</li>
            <li><a href="/student/2">Single Student by Student Number</a> - View details of a specific student (Student ID 2).</li>
            <li><a href="/tas">All Managers</a> - All managers.</li>
            <li><a href="/students">All Students</a> - List of all students.</li>
            <li><a href="/courses">All Courses</a> - List of all courses.</li>
           
            <li><a href="/students?course=3">Students by Course</a> - View students from a specific course (e.g., Course ID 3).</li>

        </ul>
   


        <h2>Introduction to HTML5</h2>

        <p>HTML5 is the latest version of Hypertext Markup Language, the standard for structuring and presenting content on the web. This website showcases HTML5 features, such as semantic elements, multimedia integration (audio, video), and responsive design through Bootstrap.</p>

